extends layout

block content
  .hero
    h1 Welcome to Our Company
    p We provide innovative solutions for your business needs
  .features
    .feature
      h2 Innovation
      p Leading the way in technological advancement
    .feature
      h2 Quality
      p Committed to delivering excellence
    .feature
      h2 Support
      p 24/7 customer support for your needs